*
!.gitignore
!.github
!.github/**/*
!README.md
!LICENSE.md

# Explicit inclusions
!shopsocket
!shopsocket/**/*

# Explicit exclusions
node_modules
build
dist
vendor
artifacts
**/tests/local.json
**/.phpunit.result.cache
